form {
  border-radius: 2px;
  margin-bottom: 12px;
  overflow: hidden;
}

label {
  display: inline-block;
  text-align: left;
  width: 220px;
  vertical-align: top;
}

.item input {
  display: inline-block;
  margin-top: 10px;
  width: 700px;
}

input[type="radio"] {
  display: none;
}

.checkbox input {
  display: inline-block;
  margin-top: 10px;
}
